# -------------------------
# Node / NPM / Yarn
# -------------------------
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------
# Entornos y secretos
# -------------------------
.env
.env.local
.env.development
.env.production
!.env.example
*.pem

# -------------------------
# IDEs / Sistema
# -------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------------------------
# Testing / Coverage
# -------------------------
coverage/
test-output/
jest-html-reporters-*

# -------------------------
# Prisma
# -------------------------
/prisma/migrations/
/prisma/generated/
/generated/
/dev.db
/dev.sqlite
*.db-journal

# -------------------------
# Next.js (frontend)
# -------------------------
.next/
out/
build/
.vercel
*.tsbuildinfo
next-env.d.ts

# -------------------------
# Tailwind cache
# -------------------------
.tailwind-cache/

# -------------------------
# Railway / Vercel
# -------------------------
.railway/

# -------------------------
# Archivos exportados
# -------------------------
*.zip
*.tar
*.gz
*.tgz
