# ---------------------------------------
# ⚙️ General para Node.js y NPM/Yarn/Pnpm
# ---------------------------------------
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---------------------------------------
# 🛠️ Configuración de entorno y compilación
# ---------------------------------------
.env*
!.env.example
*.pem

# ---------------------------------------
# 💻 IDEs y sistema operativo
# ---------------------------------------
.vscode/
.DS_Store
Thumbs.db

# ---------------------------------------
# 🧪 Testing
# ---------------------------------------
coverage/

# ---------------------------------------
# 📦 Yarn / PnP / Patch Files
# ---------------------------------------
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ---------------------------------------
# 🔧 Prisma
# ---------------------------------------
/prisma/migrations/
/prisma/generated/
/generated/

# ---------------------------------------
# 🔄 Next.js
# ---------------------------------------
.next/
out/
build/
.vercel
*.tsbuildinfo
next-env.d.ts

# ---------------------------------------
# ⚠️ Exportaciones por frontend (opcional)
# ---------------------------------------
frontend/out/
